In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot

C:\Users\crfra\anaconda\Anaconda3\lib\site-packages\pandas_datareader\compat\__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

In [3]:
tickers = ['PG', 'BEI.DE']

sec_data = pd.DataFrame()

for t in tickers:
    sec_data[t] = wb.DataReader(t, data_source='yahoo', start='2008-1-1')['Adj Close']

In [4]:
sec_data.tail()

                    PG     BEI.DE
Date
2020-05-05  116.010002  89.279999
2020-05-06  113.099998  91.000000
2020-05-07  112.169998  92.239998
2020-05-08  115.949997  94.279999
2020-05-11  115.309998  94.680000

In [5]:
sec_returns = np.log(sec_data/sec_data.shift(1))

# sec_returns